/*********CALENDAR***********/
.react-calendar {
    border-radius: 2rem;
    background: var(--color-bg-variant);
    border: 1px solid transparent;
}

.react-calendar__navigation button,
.react-calendar__month-view__days button:not(.react-calendar__month-view__days__day--neighboringMonth) 
{
    color: white;
}

.react-calendar__tile--now {
    background: var(--color-primary-variant);
}
.react-calendar__tile--active {
    background-color: var(--color-primary);
}

/********FORM*********/
#forms {
    padding: 2rem;
}

h3 {
    padding-bottom: 2rem;
}