.container {
    width:100%;
}

.image__ofDate /*client__avatar*/
{
    width: 10rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    margin: auto;
}

.image {
    background: var(--color-primary-variant);
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.swiper-slide {
    width: fit-content !important;
    margin-right: 0;
    margin-bottom: 45px;
}

.swiper-pagination-bullet {
    background: var(--color-white);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    opacity: var(--color-primary-variant, 1);
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}