@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@import './detail.css';
@import './footer.css';
@import './header.css';
@import './imagelist.css';
@import 'react-calendar/dist/Calendar.css';
@import './searchForm.css';
@import './comment.css';

* {
    margin: 0;
    padding: 0; 
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #0b0d3b;
    --color-bg-variant: #0b185f;
    --color-primary: #0062ff; 
    --color-primary-variant: rgba(2, 96, 247,0.4);
    --color-white: #fff;
    --color-light: rgba(255,255,255,0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

body {
    background: var(--color-bg);
    background-image: url('../assets/stardust.png');

    font-family: 'Poppins', sans-serif;
    color: var(--color-white);
    line-height: 1.7;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}
/********** GENERAL STYLE **************/

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
}

h2 {
    font-size: 2.5rem;
}
h3 {
    font-size: 1.5rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.message {
    margin: 10px 0;
    background: var(--color-primary);
    font-weight: bold;
}